* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.3em;
  border: 1px dashed black;
}
.form > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 50%;
}
.textarea {
  width: 50%;
  resize: none;
  height: 5em;
}
.dateField {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.date {
  width: 100%;
}
