.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;
  width: 95%;
  gap: 5px;
  align-items: flex-start;
}
.card:empty {
  display: none;
}
.hint {
  height: fit-content;
}
.date {
  width: fit-content;
}
input :not(.date) {
  font-size: 1em !important;
  height: fit-content;
  width: 90%;
}
button {
  width: fit-content;
}
.title {
  font-size: 2em;
}
.subTitle {
  font-size: 1.5em;
}
.date {
  font-size: 1em;
}
.content {
  font-size: 1em;
}
.card > :nth-child(2n):not(button) {
  background-color: rgba(128, 128, 128, 0);
}
.textarea {
  width: 90%;
  background-color: white !important;
}
