* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: 11em;
}
.title {
  font-weight: 500;
  font-size: 3em;
}
.subtitle {
  margin-top: -10px;
  font-weight: 400;
  font-size: 2em;
}
.timePeriod {
  font-size: 0.8em;
}
.desc {
  font-size: 1em;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 1em;
  margin-top: 0.3em;
}
.buttons > button {
  width: 5em;
  border-radius: 10px;
}
