* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: fit-content;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(100, 100, 100, 1) 50%,
      rgba(250, 250, 250, 0.5) 100%
    )
    0.5;
  break-inside: avoid;
  page-break-inside: avoid;
}
.title {
  font-weight: 500;
  font-size: 3em;
}
.subtitle {
  margin-top: -10px;
  font-weight: 400;
  font-size: 2em;
}
.timePeriod {
  font-size: 0.8em;
  min-width: 5em;
}
.desc {
  font-size: 1em;
  white-space: pre;
  break-inside: avoid;
  page-break-inside: avoid;
}
.buttons > button {
  width: 5em;
  border-radius: 10px;
}
