.cardGrid {
  display: grid;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  gap: 3px;
  grid-template-areas:
    'head head'
    'title title'
    'subtitle subtitle'
    'statement statement'
    'email phone'
    'linkedin location';
}
h3 {
  grid-area: head;
}
.title {
  grid-area: title;
  font-size: 2em;
}
.subtitle {
  grid-area: subtitle;
  font-size: 1.5em;
}
.email {
  grid-area: email;
}
.linkedIn {
  grid-area: linkedin;
}
.phone {
  grid-area: phone;
}
.location {
  grid-area: location;
}
.edit {
  position: fixed;
}
.email,
.linkedIn,
.phone,
.location {
  position: relative;
  margin-left: 2em;
}

.email::before {
  content: '';
  background: url('../resources/email.svg');
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  left: -2em;
  position: absolute;
}
.linkedIn::before {
  content: '';
  background: url('../resources/linkedin.svg');
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  left: -2em;
  position: absolute;
}
.phone::before {
  content: '';
  background: url('../resources/phone.svg');
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  left: -2em;
  position: absolute;
}
.location::before {
  content: '';
  background: url('../resources/map-marker.svg');
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  left: -2em;
  position: absolute;
}
