.main {
  border: 1px dashed black;
  padding: 0.5em;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.main > div {
  border: 1px solid grey;
  border-radius: 10px;
}
.button {
  border-radius: 10px;
}
