.App {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 21.5cm;
  padding: 0.5em;
  gap: 1em;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  align-items: center;
}

button:hover:not([disabled]) {
  cursor: pointer;
  box-shadow: 0 0 5px 3px grey;
}

.printCV {
  font-size: clamp(2em, 6vw, 2rem);
  padding: 0 5px;
  width: fit-content;
  align-self: flex-end;
}
